<!-- add sort functionality for authors -->
<%= form_tag(authors_path, method: :get, id: "search-form") do %>
<%= text_field_tag :author_search, params[:author_search], placeholder: "Author" %>
<%= submit_tag "Search", name: nil %>
<% end %>
<%= button_to 'Reset Search', authors_path, method: :get %>
<section class="index-content">
  <h1 class="index-header">All Authors</h1>


  <% if @authors.size == 0 %>
  <p class="none-found">
    No authors found.
  </p>
  <% else %>

  <table class="index-table">
    <tr class="centered">
      <th>
        Awards
      </th>
      <th class="sort-link">
        <%= sort_link "last_name", "Author" %>
      </th>
      <th class="sort-link">
        <%= sort_link "birth_year", "Birth" %>
      </th>
      <th class="sort-link">
        <%= sort_link "death_year", "Death" %>
      </th>
      <th class="sort-link">
        <%= sort_link "birth_place", "Birthplace" %>
      </th>
      <th>
        Books
      </th>
    </tr>
    <% @authors.each do |author| %>
    <tr>
      <td class="author-total-awards">
        <%= author.total_awards %>
      </td>

      <td>
        <%= link_to author.full_name, author_path(author.id) %>
      </td>

      <td class="centered">
        <%= author.birth_year %>
      </td>

      <td class="centered">
        <%= author.death_year %>
      </td>

      <td class="centered">
        <%= author.birth_place %>
      </td>
      <td>

        <table class="books-awards">
          <% author.books.order(:title).each do |book| %>
          <tr>
            <td>
              <%= link_to book.title, book_path(book.id) %>
            </td>
            <td>
              <ul>
                <% book.awards.each do |award| %>
                <li>
                (<%= award.award_type %> <%= award.year.year %>)
              </li>
              <% end %>
            </ul>
          </td>
        </tr>
        <% end %>
      </table>
    </td>
  </tr>
  <% end %>

</table>
<% end %>

</section>
