<h1>All Authors</h1>
<!-- add sort functionality for authors -->
<%= form_tag(authors_path, method: :get, id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Authors" %>
    <%= submit_tag "Search", name: nil %>
<% end %>
<%= button_to 'Reset', authors_path, method: :get %>


<ul>
  <% @authors.each do |author| %>
  <% author_name = "#{author.first_name} #{author.last_name}" %>
  <% author_years = "#{author.birth_year}-#{author.death_year}" %>
    <li>
      <%= link_to author_name, author_path(author.id) %> (<%=author_years%>), born in <%= author.birth_place %>
    </li>
  <% end %>
  <% if @authors.size == 0 %>
    <p>
      No authors found.
    </p>
  <% end %>

</ul>
