<section class="new-edit-form">

  <%= form_for @book do |f| %>
    <ul>
      <li>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </li>
      <li>
        <%= f.label :cover %>
        <%= f.text_field :cover %>
      </li>
      <li>
        <%= f.label :publisher %>
        <%= f.text_field :publisher %>
      </li>
      <li>
        <%= f.label :description %>
        <%= f.text_area :description %>
      </li>
      <li>
        <%= f.label "Author(s)" %>
        <%= f.collection_select :author_ids, Author.order(:last_name), :id, :full_name, {}, {multiple: true} %>
      </li>

      <li>
        <%= f.submit "save" %>
      </li>
    </ul>


  <% end %>
  <li>
    <%= button_to "cancel", :back, method: :get %>
  </li>
</section>
