<h1>All Books</h1>

<%= form_tag(books_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Books" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<% @books.each do |book| %>
  <ul>
    <!-- <li>
      image will go here
      <%# image_tag book.cover %>
    </li> -->
    <li>
      <%= link_to book.title, book_path(book.id) %>, by <%= link_to book.author.full_name, author_path(book.author.id) %>, won the <%= book.award %> in <%= book.year.year %>.
    </li>
  </ul>

<% end %>
<% if @books.size == 0 %>
    <p>
      No books found.
    </p>
  <% end %>
