<article class="show-content">

    <ul class="next-prev">
      <li class="left">
        <%= link_to "Previous Book", @book.prev %>
      </li>
      <li class="right">
        <%= link_to "Next Book", @book.next %>
      </li>
    </ul>
  <article class="left-right">

    <section class="show-left">
      <h1 class="show-title"><%=@book.title%></h1>
      <ul class="show-details">
        <li class="book-detail-author">
          <% @book.authors.each do |author| %>
          <%= link_to author.full_name, author_path(author.id) %>
          <% end %>
        </li>
        <li class="description">
          <%= @book.description %>*
        </li>
        <li class="book-detail-publisher">
          Publisher: <%= @book.publisher %>
        </li>

        <li class="description-attribution">
          *All descriptions found at <%= link_to "Wikipedia", "http://www.wikipedia.com" %> or <%= link_to "Goodreads", "http://www.goodreads.com" %>. Please see these fabulous sites for more book information and reviews, etc.
        </li>
      </ul>
    </section>
    <section class="show-right">
      <%= image_tag @book.cover, class: "book-cover" %>
      <p class="book-award-text">
        <% @book.awards.each do |award| %>
        <%= award.award_type %>
        <% end %>
      </p>
    </section>
  </article>

  <ul class="show-links-bottom">
    <%# image_tag("award_pic", size: "50x50") %>
    <li>
      <%= link_to "edit book", edit_book_path(@book.id) %>
    </li>
    <li>
      <%= link_to "back", :back %>
    </li>
    <li>
      <%= link_to "delete book", book_path(@book.id), method: :delete, data: { confirm: "Really delete this book?" }  %>
    </li>

  </ul>

</article>
