<section class="new-edit-form">


  <%= form_for @year do |f| %>
    <ul>
      <li>
        <%= f.label :year %>
        <%= f.text_field :year %>
      </li>
      <li>
        <%= f.submit "save" %>
      </li>
      <li>
        <%= link_to "cancel", :back %>
      </li>
    </ul>


  <% end %>
</section>
