<h1>All Years</h1>

<%= form_tag(years_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Years" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
<%= button_to 'Reset', years_path, method: :get %>


<% @years.each do |year| %>
  <h3><%= year.year %></h3>
  <ul>
    <% books = year.books.order(:award) %>
    <% books.each do |book| %>

      <li>
        <%= book.award %>: <%= link_to book.title, book_path(book.id) %>, by <%= link_to book.author.full_name, author_path(book.author.id) %>
      </li>

    <% end %>

    <% if year.books.size == 0 %>
      <p>
        No books found for <%= year.year %>.
      </p>
    <% end %>

  </ul>

<% end %>
