<%= form_tag(years_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Years" %>
<%= submit_tag "Search", :name => nil %>
<% end %>
<%= button_to 'Reset', years_path, method: :get %>
<section class="index-content">

  <% if @years.empty? %>
  <p>
    No years found.
  </p>
  <% else %>
  <h1 class="index-header">All Years</h1>
  <table class="index-table index-years">
    <tr class="centered">
      <th>
        Year
      </th>
      <th>
        Books
      </th>
    </tr>
    <% @years.each do |year| %>
    <tr>
      <td>
        <h3><%= year.year %></h3>
      </td>
      <td>
        <table class="year-books">
          <% year.awards.each do |award| %>
          <tr>
            <td class="year-book-award">
              <%= award.award_type %>
            </td>
            <td class="year-book-title">
              <%= link_to award.book.title, book_path(award.book.id) %>
            </td>
            <td class="year-book-author">
              <ul>
                <% award.book.authors.each do |author| %>
                <li>
                  <%= link_to award.book.author.full_name, author_path(award.book.author.id) %>
                </li>
                <% end %>
              </ul>
            </td>
          </tr>

          <% end %>
        </table>
        <% if year.awards.size == 0 %>
        <p>
          No awards found for <%= year.year %>.
        </p>
        <% end %>

      </td>
    </tr>
    <% end %>
  </table>
  <% end %>
</section>
